* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.principal {
    width: 100%;
    height: 100vh;
    background-color: #cbd5e1;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.img {
    width: 220px;
    height: 220px;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    margin-top: 40px;
    border: 2px solid #7f1d1d;
}

.principal img {
    width: 190px;
}

.links {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 30px;
    margin-bottom: 2rem;
    background-color: #FFFFFF;
    width: 20em;
    height: 25em;
    box-shadow: 4px 4px 4px 2px rgba(0, 0, 0, 0.7);
    border-radius: 10px;
}

.site,
.landingPage {
    background-color: #7f1d1d;
    width: 11em;
    padding: .8rem;
    text-align: center;
    font-size: 18px;
    text-decoration: none;
    color: #FFFFFF;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: .2rem;
    border-radius: 10px;
    margin-bottom: 3rem;
}

.Whatsap {
    width: 11em;
    padding: .8rem;
    text-align: center;
    font-size: 18px;
    text-decoration: none;
    color: #27272a;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: .2rem;
    border-radius: 10px;
    margin-bottom: 2rem;
    background-color: #22c55e;
}